<div class="col-md-6 mt-4">
  <table class="table table-striped">
    <thead>
      <th class="hidden">Id</th>
      <th>POS NO.</th>
      <th>TAXI NO.</th>
      <th>LINE</th>
      <th>DRIVER</th>
      <th>AMOUNT</th>
      <th>DETAILS</th>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>