<div class="col-md-6 mt-4">
<div class="card">
  <div class="card-header">
    Issue Card
  </div>
  <div class="card-body">
      <app-card-reader></app-card-reader>  
      <div class="card-title">
        Enter Details to Issue Card
      </div>  
      <div mat-card>
        <div mat-card-content>
            <form [formGroup]="issueForm" (ngSubmit)="onSubmit()" novalidate>
                <div formGroupName = "contact">
                  <mat-form-field>
                    <input type="text" formControlName="name" matInput placeholder="Name">
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" formControlName="mobile" matInput placeholder="Mobile">
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <input type="text" formControlName="amount" matInput placeholder="Amount">
                </mat-form-field>
                <div class="button">
                    <button [disabled]="loading" type="submit" mat-raised-button color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Issue Card
                    </button>
                </div>
              </form>
        </div>
      </div>
  </div>
</div>
</div>

