
<div class="card">
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
    <a routerLink ="card-issue/" mat-raised-button color="primary">
        Card Issue
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink ="card-top-up/" mat-raised-button color="primary">
        Card Top Up
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink ="pos/" mat-raised-button color="primary">
            Point Of Sale
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink ="add-taxi/" mat-raised-button color="primary">
        Add Taxi
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink ="view-taxis/" mat-raised-button color="primary">
        Manage Taxis
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink ="reports/" mat-raised-button color="primary">
        Reports
    </a>
  </mat-grid-tile>
</mat-grid-list>
</div>