<div class="col-md-6 mt-4">
    <div class="card">
      <div class="card-header">
        Card Top Up
      </div>
      <div class="card-body">
        <app-card-reader></app-card-reader>
        <div class="card-title">Enter Amount to top up</div>
        <mat-card>
          <mat-card-content>
            <form [formGroup]="topUpForm" (ngSubmit)="onSubmit()" novalidate>
              <mat-form-field>
                <input type="text" formControlName="amount" matInput placeholder="Amount">
              </mat-form-field>
              <div class="button">
                  <button [disabled]="loading" type="submit" mat-raised-button color="primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Top Up
                  </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
