<div class="mt-4">
    <table class="table table-striped">
      <thead>
        <!-- <th class="hidden">Id</th> -->
        <th>TAXI NO.</th>
        <th>LINE</th>
        <th>DRIVER</th>
        <th>AMOUNT</th>
        <th>TELEPHONE</th>
        <th>DETAILS</th>
      </thead>
      <tbody>
        <tr *ngFor="let taxi of taxiService.taxis">
          <td>{{taxi.registration}}</td>
          <td>{{taxi.line}}</td>
          <td>{{taxi.driver.driver_firstname}} {{taxi.driver.driver_lastname}}</td>
          <td></td>
          <td>{{taxi.owner.contact.mobile}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

