<div class= "col-md-6 mt-4">
  <div class="card">
    <div class="card-header">
      Add Taxi
    </div>
    <div class="card-body">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="taxiForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input type="text" matInput formControlName="registration" placeholder="Registration">
            </mat-form-field>
            <div formGroupName = "driver">
              <mat-form-field>
                  <input type="text" matInput formControlName="driver_firstname" placeholder="Driver First Name">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input type="text" matInput formControlName="driver_lastname" placeholder="Driver Last Name">
              </mat-form-field>
            </div>
            <div formGroupName = "owner">
              <div formGroupName = "contact">
                <mat-form-field>
                  <input type="text" matInput formControlName="name" placeholder="Owner Name">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input type="text" matInput formControlName="mobile" placeholder="Owner Mobile">
                </mat-form-field>
              </div>
            </div>
            <div formGroupName = "conductor">
              <div formGroupName = "contact">
                <mat-form-field>
                  <input type="text" matInput formControlName="name" placeholder="Conductor Name">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input type="text" matInput formControlName="mobile" placeholder="Conductor Mobile">
                </mat-form-field>
              </div>
            </div>
  
            <mat-form-field>
              <input type="text" matInput placeholder="Line" formControlName="line">
            </mat-form-field>

            <div class="button">
                <button [disabled]="loading" type="submit" mat-raised-button color="primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Add Taxi
                </button>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
