<mat-card>
  <mat-card-title>Matatu Pay</mat-card-title>
<mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username"
      formControlName="username">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password"
      formControlName="password">
    </mat-form-field>
  </p>

  <p>
    <app-alert></app-alert>
  </p>

  <div class="button">
    <button [disabled]="loading" type="submit" mat-raised-button color="primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>
</mat-card-content>
</mat-card>