<mat-card>
    <mat-card-content>
      <div class="button">
          <button type="submit" mat-raised-button color="primary">
            Read Card
          </button>
      </div>
      <mat-form-field>
        <input type="text" matInput placeholder="Card Balance" [disabled] = "true">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Name on Card" [disabled] ="true">
      </mat-form-field>
    </mat-card-content>
</mat-card>
<hr>
