<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/main/card-issue">+ Card Issue</a>
      <a mat-list-item routerLink="/main/card-top-up">+ Card Top Up</a>
      <a mat-list-item routerLink="/main/pos">+ Point of Sale</a>
      <a mat-list-item routerLink="/main/add-taxi">+ Add Taxi </a>
      <a mat-list-item routerLink="/main/view-taxis">+ View Taxis</a>
      <a mat-list-item routerLink="/main/reports">+ Reports</a>
      <a mat-list-item routerLink="/main/pos-machine">+ POS Machine</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Matatu Pay Administration</span>
      <app-logout></app-logout>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- Alert message  -->
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
